<!-- <div class="container">
 -->
 <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

  <div class="flexbox">

    <div>

      <h1>Domaine de l’Aube des Temps : Détente et Nature</h1>

      <p>Entre Narbonne et Carcassonne, à Raissac d’Aude, au confluent de l’Aude et de l’Orbieu, le domaine joliment nommé «l’Aube des temps» produit une gamme de vins qui chantent au palais, parfaits pour la convivialité des vacances.<br>
      Les vacances et la convivialité sont devenus le principal parti pris du  domaine et naturellement nous avons créé 5 gîtes d’exception qui inspirent le calme et l’appel au repos. <br>
      Avec des équipements dignes des plus grands complexes hôteliers, le domaine a su développer une clientèle de vacanciers, qui n’hésitent plus à réserver pour l’année suivante.</p>
    </div>

    <div>
      <%= cl_image_tag("P8060177_fhkvp2.jpg") %>
    </div>

  </div>

  <h2>Nos gîtes</h2>

  <div class="show-gites">

    <div class="row">

      <% @houses.each do |house|  %>
        <% if house.name != "Le Loft" %>
          <div class="col-md-6 col-sm-6 col-12 nopadding">
        <% else %>
          <div class="col-md-12 col-sm-12 col-12 nopadding">
        <% end %>
            <div class="hovereffect">
              <img class="img-responsive" src="https://kitt.lewagon.com/placeholder/cities/shanghai" alt="">
              <div class="overlay">
                <h2><%= house.name %></h2>
                <div class="epis"> <%= render 'epis', house: house %> </div>
                <p>
                  <i class="fa fa-users"></i>
                  <%= house.capacity %></p>
                <p>
                  <i class="fa fa-bed"></i>
                  <%= house.bed %>
                </p>
                <%= link_to "", house_path(house), class: "cardhover-link" %>
              </div>
            </div>
          </div>

      <% end %>

    </div>

  </div>

  <div class="row contact-box">

    <div class="col-12 col-sm-6 col-md-6">

      <div class="contact-info">
        <div class="contact">Domaine de l’Aube des temps</div>
        <div class="contact">1 domaine de saint martin</div>
        <div class="contact">11200 Raissac d’Aude</div>
        <div class="contact">France</div>

        <div class="contact">Phone : 04 68 43 83 54</div>
        <div class="contact">Mobile : 06 10 95 78 30</div>
        <div class="contact">domaine@aubedestemps.fr</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6">
      <iframe src="https://snazzymaps.com/embed/31303" width="100%" height="400px" style="border:none;"></iframe>
    </div>
<!--     <div id="map" style="width: 100%; height: 300px;"></div>
 -->
  </div>

  <%= link_to "Add", new_house_path %>
  <%= link_to "Admin", new_user_session_path %>

<!-- </div>
 -->
<%# content_for(:after_js) do %>
  <%# javascript_tag do %>

    <!-- function initMap() {
      var styles = [ /* the style copied from Snazzy maps */ ];
      var aube = {lat: 43.235, lng: 2.893};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: aube
      });
      var marker = new google.maps.Marker({
        position: aube,
        map: map
      });
    } -->
  <%# end %>
<%# end %>









